<html>
  <head>
    <title>MoonsRover1</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script>
var myIP = window.location.href;
$(document).ready(function(){
$("button").click(function(){
var id = $(this).attr('id');
if(id == 0) {
var settings = {
  "async": true,
  "crossDomain": true,
  "url": myIP + "rover/api/v1.0/instructions",
  "method": "PUT",
  "headers": {
    "content-type": "application/json",
    "cache-control": "no-cache",
    "postman-token": "99202990-dbe7-6280-647c-25cb9bff3b2f"
  },
  "processData": false,
  "data": "[{\"command\":\"forward\",\"distance\":"+document.getElementById("4").value+"}]"
}


$.ajax(settings).done(function (response) {
  console.log(response);
});
}
else if (id == 1) {
var settings = {
  "async": true,
  "crossDomain": true,
  "url": myIP +  "rover/api/v1.0/instructions",
  "method": "PUT",
  "headers": {
    "content-type": "application/json",
    "cache-control": "no-cache",
    "postman-token": "99202990-dbe7-6280-647c-25cb9bff3b2f"
  },
  "processData": false,
  "data": "[{\"command\":\"left\",\"distance\":"+document.getElementById("5").value+"}]"
}

$.ajax(settings).done(function (response) {
  console.log(response);
});

}
else if (id == 2) {
var settings = {
  "async": true,
  "crossDomain": true,
  "url": myIP +  "rover/api/v1.0/instructions",
  "method": "PUT",
  "headers": {
    "content-type": "application/json",
    "cache-control": "no-cache",
    "postman-token": "99202990-dbe7-6280-647c-25cb9bff3b2f"
  },
  "processData": false,
  "data": "[{\"command\":\"back\",\"distance\":"+document.getElementById("4").value+"}]"
}

$.ajax(settings).done(function (response) {
  console.log(response);
});

}
else if (id == 3) {
var settings = {
  "async": true,
  "crossDomain": true,
  "url": myIP + "rover/api/v1.0/instructions",
  "method": "PUT",
  "headers": {
    "content-type": "application/json",
    "cache-control": "no-cache",
    "postman-token": "99202990-dbe7-6280-647c-25cb9bff3b2f"
  },
  "processData": false,
  "data": "[{\"command\":\"right\",\"distance\":"+document.getElementById("5").value+"}]"
}

$.ajax(settings).done(function (response) {
  console.log(response);
});

}
});
});
</script>
</head>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <center>
     <img src="{{ url_for('video_feed') }}"><br />
     <button id="0">forward</button><br />
     <button id="1">left</button> <button id="2">back</button> <button id="3">right</button><br />
     forward/back speed (0-255): <input type="number" max="255" min="0" value="255" step="5" id="4" /><br />
     left/right angle (deg):  <input type="text" max="360" min="0" value="90" step="10" id="5" />
   </center>
  </body>
</html>


